.tile {
	margin: 15px;
	cursor: pointer;
	overflow: hidden;
	/* width: 18vw; */
    /* height: 18vw; */
}

/* img { */
    /* width: 100%; */
    /* border: 3px solid grey; */
    /* width: 20vw;
    height: 20vh; */
    /* transition: transform 500ms ease; */
/* } */

/* img:hover {
    transform: scale(1.1);
} */


    