* {
  box-sizing: border-box;
}

body {
  color: #4c4c4c;
  background: #f6f7f7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  min-height: 15%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.form-search {
  width: 50%;
  border: 2px solid #e4e4e4;
  border-radius: 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

i {
  margin-left: 1.5em;
}

form {
  width: 80%;
  background: #fff;
  border: none;
  outline: 0;
}

input {
  font-size: 1em;
  width: 80%;
  height: 40px;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: .5em;
  background: #fff;
  border: none;
  outline: 0;
  
}

@media only screen and (max-width: 425px) {
  .content {
    margin-top: 20%;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-search {
    width: 90%;
  }
}